
#failedans {
  display: none;
}
#rightans {
  display: none;
}
#failedans2 {
  display: none;
}
#rightans2 {
  display: none;
}
select.form-control{
  width: 500px;
}
img{
  max-width: 400px;
  max-height: 300px;
  border: 2px solid black;
}
.tru-self{
  text-align: center;
  padding: 100px;
}
#spiritanimal{
  display: none;
}
#villain{
  display: none;

}
.ur-aku{
  display: none;
}
.ur-scar{
  display: none;
}
.ur-voldermort{
  display: none;
}
.ur-penny{
  display: none;
}
.ur-joker{
  display: none;
}
.ur-messed-up{
  display: none;
}
.ur-riri{
  display: none;
}
.ur-klaus{
  display: none;
}
.ur-fatamy{
  display: none;
}
.ur-jonnybravo{
  display: none;
}
.ur-miketyson{
  display: none;
}
.ur-enigma{
  display: none;
}
